.cardBackground {
    height: 93%;
    margin: 15px;
    background-color: black;
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
}

.navbarElement {
    margin-left: 90px;
    font-size: 12px;
}

.spacing {
    margin-left: 15px;
}

.spacer {
    flex: 1 1 auto;
}