<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button (click)="drawer.toggle()" mat-icon-button>
          <mat-icon>menu</mat-icon>
        </button>
        <mat-form-field>
            <input type="text" matInput placeholder="Enter user" [(ngModel)]="user">
            <button mat-button *ngIf="user" matSuffix mat-icon-button aria-label="Clear" (click)=" user = '' ">
                <mat-icon>close</mat-icon>
              </button>
        </mat-form-field>
        <button mat-icon-button (click)="setOrChangeUser()">
          <mat-icon color="warn">{{isDaneOrMatt() ? 'find_replace' : 'done'}}</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container style="height: 94%;">
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-list>
            <mat-list-item *ngFor="let route of routes">
                <button routerLink="{{route.path}}" mat-button>
                  <mat-icon>{{route.icon}}</mat-icon> {{route.name}}
                </button>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content style="height: 94%;">
        <mat-card style="height: 100%;">
            <router-outlet></router-outlet>
        </mat-card>
    </mat-drawer-content>
</mat-drawer-container>