<mat-accordion>
    <mat-expansion-panel *ngFor="let people of peoples" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{people.name}}
            </mat-panel-title>
            <mat-panel-description>
                Gender: {{people.gender}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
            <span style="width: 50%;">
          <div>height: {{people.height}}</div>
          <div>mass: {{people.mass}}</div>
          <div>hair color: {{people.hair_color}}</div>
          <div>skin color: {{people.skin_color}}</div>
          <div>eye color: {{people.eye_color}}</div>
          <div>birth year: {{people.birth_year}}</div>
          <div>time in movies: {{people.films.length}}</div>
        </span>
            <span style="width: 50%;">
            <img src="{{getImage(people.image)}}" alt="">
          </span>
        </mat-card>
    </mat-expansion-panel>
</mat-accordion>