<mat-accordion>
    <mat-expansion-panel *ngFor="let planet of planets" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>{{planet.name}}</b>
            </mat-panel-title>
            <mat-panel-description style="flex:1; justify-content: center;">
                <b>Population:</b><pre></pre> {{planet.population | number}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card style="display: flex; flex-direction: row;">
            <span style="flex: auto;">
            <div><b>rotation period:</b> {{planet.rotation_period}}</div>
            <div><b>orbital period:</b> {{planet.orbital_period}}</div>
            <div><b>diameter:</b> {{planet.diameter}}</div>
            <div><b>climate:</b> {{planet.climate}}</div>
            <div><b>gravity:</b> {{planet.gravity}}</div>
            <div><b>terrain:</b> {{planet.terrain}}</div>
            <div><b>residents in movies:</b> {{planet.residents.length}}</div>
            <div><b>time in movies:</b> {{planet.films.length}}</div>
          </span>
            <span style="flex: auto;">
              <img class="imageStyle" src="{{getImage(planet.image)}}" alt="">
            </span>
        </mat-card>
    </mat-expansion-panel>
</mat-accordion>